.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
  padding: 20px; /* добавляем отступы, чтобы модалка не прилипала к краям */
  overflow-y: auto; /* если модалка слишком высокая, появляется прокрутка */
}

.modal-content {
  background-color: #fff;
  padding: 20px;
  max-width: 500px;
  width: 100%;
  max-height: 90vh; /* ограничиваем высоту 90% от видимой части экрана */
  border-radius: 10px;
  position: relative;
  display: flex;
  flex-direction: column;
  overflow-y: auto; /* если контента много, появляется прокрутка внутри модалки */
}

.modal-content img {
  width: 100%;
  height: auto;
  border-radius: 6px;
}

.modal-content button.close {
  position: absolute;
  top: 10px;
  right: 10px;
  padding: 4px 8px;
  cursor: pointer;
}

.modal-item {
  margin: 10px 0px;
}