.movie-card {
  flex: 0 0 180px; /* карточка фиксированной ширины */
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #f8f8f8;
  padding: 12px;
  border-radius: 10px;
  box-shadow: 0 2px 8px rgba(0,0,0,0.1);
  transition: transform 0.2s;
}

.movie-card:hover {
  transform: translateY(-5px);
}

.movie-card img {
  width: 100%;
  height: auto;
  border-radius: 6px;
  margin-bottom: 8px;
}

.movie-card h3 {
  font-size: 16px;
  margin: 4px 0;
  text-align: center;
}

.movie-card p {
  font-size: 14px;
  margin: 2px 0;
  text-align: center;
}

.movie-card button {
  margin-top: 6px;
  padding: 4px 8px;
  font-size: 14px;
  cursor: pointer;
}

.first-column {
  display: flex;
  flex-direction: column;
  max-height: 400px;
  height: 100%;
  justify-content: center;
  align-items: center;
}