body {
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: #f3f4f6;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
}

h1 {
  text-align: center;
}

.movie-flex {
  display: flex;
  flex-wrap: wrap;       
  justify-content: center; 
  gap: 20px;            
}

.query {
  margin: 20px;
  display: flex;
  max-width: 220px;
}